.swagger-ui .topbar {
    background-color: #0e1521 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    padding: 20px !important;
}

.swagger-ui .select-label span {
    color: #0a75f0 !important;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 2px solid #2989ee;
    box-shadow: none;
    flex: 2;
    outline: none;
    width: 100%;
}

.swagger-ui .topbar-wrapper a.link img {
    width: 60px;
    height: 60px;
    border: solid dodgerblue;
    border-radius: 10px;
}
